{#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}
{
  "name": "ats-hbase",
  "version": "1.0.0",
  "lifetime": "-1",
  "queue": "{{yarn_hbase_service_queue_name}}",
  "configuration": {
    "env": {
      "HBASE_IDENT_STRING": "${USER}",
      "HBASE_LOG_DIR": "<LOG_DIR>",
      "HBASE_PID_DIR": "$PWD/pids",
      "HBASE_ROOT_LOGGER": "INFO,RFA"
    }
  },
  "components": [
    {
      "name": "master",
      "number_of_containers": {{yarn_hbase_master_containers}},
      "launch_command": "{{stack_root}}/current/hbase-master/bin/hbase --config {{yarn_hbase_conf_dir}} master start",
      "readiness_check": {
        "type": "HTTP",
        "properties": {
          "url": "http://${THIS_HOST}:{{yarn_hbase_master_info_port}}/master-status"
        }
      },
      "resource": {
        "cpus": {{yarn_hbase_master_cpu}},
        "memory": "{{yarn_hbase_master_memory}}"
      },
      "configuration": {
        "env": {
          "HBASE_LOG_PREFIX": "hbase-$HBASE_IDENT_STRING-master-$HOSTNAME",
          "HBASE_LOGFILE": "$HBASE_LOG_PREFIX.log"
        }
      }
    },
    {
      "name": "regionserver",
      "number_of_containers": {{yarn_hbase_regionserver_containers}},
      "launch_command": "{{stack_root}}/current/hbase-regionserver/bin/hbase --config {{yarn_hbase_conf_dir}} regionserver start",
      "dependencies": [ "master" ],
      "resource": {
        "cpus": {{yarn_hbase_regionserver_cpu}},
        "memory": "{{yarn_hbase_regionserver_memory}}"
      },
      "configuration": {
        "env": {
          "HBASE_LOG_PREFIX": "hbase-$HBASE_IDENT_STRING-regionserver-$HOSTNAME",
          "HBASE_LOGFILE": "$HBASE_LOG_PREFIX.log"
        }
      }
    },
    {
      "name": "hbaseclient",
      "number_of_containers": {{yarn_hbase_client_containers}},
      "launch_command": "sleep 10;{{yarn_hbase_table_create_cmd}};{{yarn_hbase_table_grant_premission_cmd}};sleep infinity",
      "dependencies": [ "regionserver" ],
      "resource": {
        "cpus": {{yarn_hbase_client_cpu}},
        "memory": "{{yarn_hbase_client_memory}}"
      },
      "configuration": {
        "env": {
          "HBASE_LOG_PREFIX": "hbase-$HBASE_IDENT_STRING-hbaseclient-$HOSTNAME",
          "HBASE_LOGFILE": "$HBASE_LOG_PREFIX.log"
        }
      }
    }
  ],
  "quicklinks": {
    "HBase Master Status UI": "http://${MASTER-0_IP}:{{yarn_hbase_master_info_port}}/master-status"
  },
  "kerberos_principal" : {
    "principal_name" : "{{yarn_ats_principal_name}}",
    "keytab" : "file://{{yarn_ats_user_keytab}}"
  }
}